header {
    display: flex;
    justify-content: left;
    align-items: left;
    height: 6%;
    width: auto;
    background-color: #313b74;
    position: fixed;
    left: 0px;
    right: 0px;
    padding: 0px;
    top: 0px;
    font-family: Inter;
}

header img{
    height: 100%;
    width: auto;
    border-radius: 10%;
    margin-bottom: 15px;
}
body {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Inter;
    
  }

.navbar{
    text-align: center;
    font-family: Inter;
}
.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: inline-block;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    background-color: #525c91;
    transition: all 0.5s ease;
}
.navbar a:hover{
    background-color:  #7382cd;
    cursor: pointer;
}
.navbar li{
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

.cart-button {
    position: absolute;
    top: 0px;
    right: 10px;
    color: white;
}

.dropdown{
    display: none;
}

main{
    text-align: center;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    font-family: Inter;
}

.course-container {
    display: flex;
    background-color: #313b74;
    padding: 30px;
    border-radius: 10px;
    margin-bottom:10px;
    margin-left: 10%;
    margin-right: 10%;
}
.course-list {
    width: 45%;
    margin-bottom: 20px;
    text-align: center;
}
.course-list h3 {
    text-align: center;
    color: white;
}
.course-list ul {
    list-style-type: none;
    padding: 0;
}
.course-list li {
    margin: 10px 0;
}

.sectionCourse{
    text-align: center;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    font-family: Inter;
}
.buttonCourse {
    display: block;
    font-size: 32px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
    background-color: #525c91;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.buttonCourseCart {
    display: block;
    font-size: 32px;
    width: 100%;
    padding: 10px;
    background-color: #525c91;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.buttonsubmit {
    display: block;
    font-size: 24px;
    width: 20%;
    padding: 10px;
    background-color: #525c91;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
    font-size: 20px;
}


.user-details, .course-selection-container, .cart-selection-container {
    width: 50%;
}

.course-selection-container {
    border-left: 2px solid #ccc;
    padding-left: 20px;
    display:flex;
    justify-content: space-between;
}

.cart-selection-container {
    border-left: 2px solid #ccc;
    padding-left: 20px;
    display:flex;
    justify-content: space-between;
}


.containerCart {
    display:flex ;
    justify-content: space-between;
    padding: 20px;
    font-size: 24px;
    color: white;
    background-color: #313b74;
    border-radius: 5px;
}

.add-to-cart-button {font-size: 24px;
    display: block;
    width: 20%;
    padding: 10px;
    background-color: #525c91;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;}

.course-info {
padding: 50px;
font-size: 24px;
color: white;
background-color: #313b74;
}

.user-details {
    padding: 50px;
    font-size: 24px;
    color: white;
    background-color: #313b74;
    }


    .user-details label {
        display: inline-block;
        width: 150px;
        text-align: left;
        margin-right: 20px;
    }
    
    .user-details input {
        box-sizing: border-box;
    }
    
.return-button
{font-size: 24px;
    display: block;
    width: 20%;
    padding: 10px;
    background-color: #525c91;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}


#mainlogo{
    height: auto;
    width: auto;
    max-width: 20%;
    max-height: 20%;
    margin-bottom: 15px;
    margin-top: 50px;
}

h1{
    font-size: 48px;
    font-weight: bold;
    color: #313b74;
    text-align: center;
    text-decoration: underline;
    padding: 1%;
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: Inter;
}

h2{
    font-size: 40px;
    color: white;
    font-family: Inter;
}

h3{
    font-size: 32px;
    color: white;
    font-family: Inter;
}

h4{
    font-size: 32px;
    width: 50%;
    color: #313b74;
    font-family: Inter;
    margin-bottom: 10px;
}

.course-images {
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.course-images img {
    width: 30%;
    margin: 0 10px;
    border-radius: 5px;
}

input[type="checkbox"] {
    transform: scale(2);
    margin-right: 10px;
}


footer{
    background-color: #313b74;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 0px;
    width: 100%;
}

.toast {
    visibility: hidden;
    min-width: 400px;
    margin-left: -150px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    position: fixed;
    z-index: 1;
    left: 50%;
    right: 50%;
    top: 10%;
    font-size: 35px;
    white-space: nowrap;
    padding: 5px;
}


.toast.show {
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 4.75s;
}

.error-text {
    color: #ff0000;
}

/* Toast animations */
@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 10%; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 10%; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 10%; opacity: 1;} 
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 10%; opacity: 1;} 
    to {top: 0; opacity: 0;}
}

.contact-info {
    background-color: #313b74;
    padding: 20px;
    border-radius: 10px;
    margin-bottom:5px;
    margin-left: 20%;
    margin-right: 20%;
}

.map-container {
    background-color: #555b93;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: inline-block;
}

#selectedContactInfo {
    color: white;
    background-color: #555b93;
    font-size: 25px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#mapLink {
    background-color: #7382CD;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: none;
}

#venueSelect {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #313b74;
    color: white;
    border: none;
}

#venueSelect option {
    background-color: #555b93;
    color: white;
}

#total2 {
    display: none;
}

/* Changed screen ratio */
@media screen and (max-width: 960px){
    header img{
        display: none;
    }

    .navbar{
        display: none;
    }

    .dropdown{
        display: inline-block;
        position: fixed;
        top: 0px;
        left: 0px;
        font-family: Inter;
    }
    .dropdown button{
        background-color: transparent;
        color: #fff;
        padding: 20px 15px;
        border: none;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
    }

    .dropdown a{
        display: block;
        color: white;
        text-decoration: none;
        padding: 10px 15px;
        border-bottom: 2px solid black;
        transition: all 0.5s ease;
    }

    .dropdown .content{
        display: none;
        position: absolute;
        background-color: #525c91;
        min-width: 100px ;
        box-shadow: 2px 2px 5px;
    }

    .dropdown a:hover {
        background-color: #7382cd;
    }
    
    .dropdown:hover button{
        background-color: #525c91;
    }
    .dropdown:hover .content{
        display: block;
    }

    #mainlogo{
        height: auto;
        width: auto;
        max-width: 50%;
        max-height: 50%;
        margin-bottom: 15px;
        margin-top: 60px;
    }
    
    .course-images {
        flex-direction: column;
        align-items: center; 
    }

    .course-images img {
        width: 80%;
        margin: 10px 0;
    }
    
    .contentCourse {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .tab-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .tab {
        flex: 1;
        margin: 0 10px;
        padding: 20px;
        background-color: #f4f4f4;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .tab h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .tab nav ul {
        list-style: none;
        padding: 0;
    }

    .tab nav ul li {
        margin-bottom: 10px;
    }

    hr {
        width: 100%;
        border: 1px solid #ccc;
        margin: 20px 0;
    }

    .button {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #007BFF;
        color: white;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
    }

    .button:hover {
        background-color: #0056b3;
    }

    .course-container {
        flex-direction: column;
        align-items: center;
        padding: 30px;
        border-radius: 10px;
        margin-bottom:10px;
        margin-left: 0%;
        margin-right: 0%;
    }

    .buttonCourse {
        margin-left: 0%;
        margin-right: 0%;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .course-selection-container .image-placeholder img {
        display: none;
    }

    .return-button {
        width: 100%;
        margin-top: 20px;
    }

    .buttonsubmit{
        width: 100%;
        margin-top: 20px;
    }

    .add-to-cart-button {
        width: 100%;
        margin-top: 20px;
    }

    .map-container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    
      #map {
        width: 100%;
        height: 300px;
      }
    
      .contact-info {
        flex-direction: column;
        align-items: center;
        padding: 30px;
        border-radius: 10px;
        margin-bottom:10px;
        margin-left: 0%;
        margin-right: 0%;
      }

      #selectedContactInfo {
        color: white;
        width: 100%;
        background-color: #555b93;
        font-size: 20px;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .containerCart {
        display: flex;
        flex-direction: column;
    }

    .course-selection-container {
        border-left: none;
        order: 4;
    }

    .cart-selection-container {
        order: 1;
        border-left: none;
        display: flex;
        flex-direction: column;
    }

    .buttons {
        order: 2;
    }

    .user-details {
        order: 3;
    }

    #total {
        display: none;
    }

    #total2 {
        display: block;
    }

}
